.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: 1em;
    overflow: auto;
    background-color:#282a36;
}

.user {
    margin-top: 1.5em;
}

.game-mode {
    display: grid;
    margin-left: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr;
    flex-grow: 1;
    gap: 0.5em;
}

img {
    max-width: 100%;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 1000px) {
    img {
        display: none;
    }
}