.apexcharts-zoom-icon.apexcharts-selected svg {
    fill: #68e397 !important;
}
  
.apexcharts-pan-icon.apexcharts-selected svg {
    stroke: #68e397 !important;
}

.line-graph {
    display: flex;
    flex-direction: column;
    background: #1e212a;
    padding: 1em;
    border-radius: 1em;
}