.tableHeader {
    display: flex;
    justify-content: space-between;
}

.switch-label {
    font-family: "Roboto-Mono";
    font-size: 2vw;
    color: #ffffff;
}

.header-switch {
    display: flex;
    gap: 0.3vw;
}