.board {
    display: flex;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin: 0.4em;
    gap: 0.5em;
    width: 100%;
    overflow: auto;
}

.widget-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    flex-grow: 0.5;
}

.visualizer-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.4fr 1fr;
    gap: 0.5em;
    flex-grow: 1;
    overflow: hidden;
}

@media only screen and (max-width: 640px) {

    .widget-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        flex-grow: 0.5;
    }
    
}

@media only screen and (max-width: 1024px) {

    .visualizer-grid {
        display: grid;
        grid-template-rows: 1.4fr 1fr;
        grid-template-columns: 1fr;
        gap: 0.5em;
        flex-grow: 1;
        overflow: auto;
    }

}