.dashboard-wrapper {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: "Roboto-Mono";
    src: url(./Fonts/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2) format('woff2');
}